#map
{
    height: 100%;
    width: 100%;
}

.rcorners
{
    border-radius: 25px;
    background: #ffffff;
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
    text-align:center
}
.selected
{
    border: 5px solid rgb(64, 64, 64);
}

.button
{
    vertical-align: middle;
    color: white;
    font-size: 25px;
    margin: 6px;
    height: 70;
    width: 250;
}

.buttonDiv
{
    margin-bottom: 10px;
    overflow-y: scroll;
    max-height: 358px;
}

.toggleStopsButton
{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    color: rgb(25,25,25);
    cursor: pointer;
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    line-height: 38px;
    padding: 0 5px;
    text-align: center;
}

.toggleStopsButtonActive
{
    border: 2px solid #d3d2d2;
    background-color: #d3d2d2;
}